iframe.billwerk-subscriptions-embed {
  border: 0px;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 768px;
  min-height: 100em;
  height: 100%;
}

iframe.billwerk-subscriptions-embed:only-child {
  height: 100%;
}
