{#
'variables' => [
  'billwerk_plan_variant' => [],
  'id' => NULL,
  'phaseType' => NULL,
  'planVariantId' => NULL,
  'planId' => NULL,
  'quantity' => NULL,
  'startDate' => NULL,
  'endDate' => NULL,
  'trialEndDate' => NULL,
  'billedUntil' => NULL,
  'lastBillingDate' => NULL,
  'nextBillingDate' => NULL,
  'currency' => NULL,
  'balance' => NULL,
  'userLocale' => 'en',
],
#}

<div class="billwerk-plan-variant-subscription">
  <div class="billwerk-plan-variant-subscription__plan-variant">
    {{billwerk_plan_variant}}
  </div>

  {% if startDate %}
    <div class="billwerk-component-subscription__start-date">
      {#
        Ugly date format workaround needed because:
        - Core bug makes twig_intl impossible to use: https://www.drupal.org/project/drupal/issues/3419294
        - Billwerk doesn't use timestamps, but Drupal does.
        So we need to convert the Billwerk format to timestamp and can then use Drupal's format_date()
      #}
      <strong>{{ "Start:"|t }}</strong>
      {{ startDate|date('U')|format_date('short') }}
    </div>
  {% endif %}
  {% if endDate %}
    <div class="billwerk-component-subscription__end-date">
      {#
        Ugly date format workaround needed because:
        - Core bug makes twig_intl impossible to use: https://www.drupal.org/project/drupal/issues/3419294
        - Billwerk doesn't use timestamps, but Drupal does.
        So we need to convert the Billwerk format to timestamp and can then use Drupal's format_date()
      #}
      <strong>{{ "End date:"|t }}</strong>
      {{ endDate|date('U')|format_date('short') }}
    </div>
  {% elseif trialEndDate %}
    <div class="billwerk-component-subscription__trial-end-date">
      {#
        Ugly date format workaround needed because:
        - Core bug makes twig_intl impossible to use: https://www.drupal.org/project/drupal/issues/3419294
        - Billwerk doesn't use timestamps, but Drupal does.
        So we need to convert the Billwerk format to timestamp and can then use Drupal's format_date()
      #}
      <strong>{{ "Trial end date:"|t }}</strong>
      {{ trialEndDate|date('U')|format_date('short') }}
    </div>
  {% endif %}

  {# {% if billedUntil and billedUntil != endDate %}
    <div class="billwerk-plan-variant-subscription__billed-until">
      billedUntil:
      {{ billedUntil|date('U')|format_date('short') }}
    </div>
  {% endif %} #}

  {# {% if lastBillingDate and lastBillingDate != startDate %}
    <div class="billwerk-plan-variant-subscription__last-billing-date">
      lastBillingDate:
      {{ lastBillingDate|date('U')|format_date('short') }}
    </div>
  {% endif %} #}
  {% if nextBillingDate and nextBillingDate != endDate and not trialEndDate %}
    <div class="billwerk-component-subscription__next-billing-date">
      {#
      Ugly date format workaround needed because:
      - Core bug makes twig_intl impossible to use: https://www.drupal.org/project/drupal/issues/3419294
      - Billwerk doesn't use timestamps, but Drupal does.
      So we need to convert the Billwerk format to timestamp and can then use Drupal's format_date()
      #}
      <strong>{{ "Next billing date:"|t }}</strong>
      {{ nextBillingDate|date('U')|format_date('short') }}
    </div>
  {% endif %}

  {# {% if balance %}
    <div class="billwerk-plan-variant-subscription__balance">
      balance:
      {{ balance }}
    </div>
  {% endif %}
  {% if currency %}
    <div class="billwerk-plan-variant-subscription__currency">
      currency:
      {{ currency }}
    </div>
  {% endif %} #}
</div>
